<!-- <form [formGroup]="demoForm" (ngSubmit)="submit()">
  <div [ngClass]="{'has-error': formErrors.uname}">	
    username<input type="text" formControlName="uname" (blur)="logValidationMessages()"/>
    <span class="help-block" *ngIf="formErrors.uname">
      {{formErrors.uname}}
    </span>
    
  </div>

  <div [ngClass]="{'has-error': formErrors.pass}">
    password<input type="password" formControlName="pass"/>
    <span class="help-block" *ngIf="formErrors.pass">
      {{formErrors.pass}}
    </span>

</div>
    <div formGroupName="skill">
      skills:<br/>
  
    Skill Name:<input type="text" formControlName="skillName"/><br/>
    Experience:<input type="text" formControlName="experience"/><br/>
    Proficiency:<br/>
    Beginner<input type="radio" value="beginner" formControlName="proficiency"/>
    Intermediate<input type="radio"  value="inter" formControlName="proficiency"/>
    Advanced<input type="radio" value="advanced" formControlName="proficiency"/>
  </div>
      <button class="btn btn-primary" type="submit">submit</button>
      <button class="btn btn-primary" type="button" (click)="loadData()">loadData</button>
  </form> -->





  <app-parent></app-parent>